@use 'base';
@use 'functions' as *;
@use 'mixins' as *;

.title {
  @include typography('display-lg', 'bold');
}

.title-1 {
  color: get-color('Brand', '400');
}

.title-2 {
  color: get-color('Warning', '600');
}

.title-3 {
  color: get-color('Error', '500');
}

.title-4 {
  color: get-color('Success', '700');
}

.title-5 {
  color: get-color('Gray', '600');
}
